body {
    background-repeat: repeat;
    font-weight: 350 !important;
}

a[href] {
    text-decoration: none;
}

#canvas-container {
    width: 100% !important;
    resize: vertical !important;
    overflow: auto !important;
}

body {
    position: relative;
}

.accordion-button {
    padding: 8px 8px;
    font-size: 22px;
}

canvas {
    /*border: 2px rgba(127,127,127,0.25) dashed;*/
    border-radius: 5px;
}
canvas.drag-mode {
    cursor: grab !important;
}
canvas.draw-mode {
    cursor: crosshair !important;
}
canvas.eraser-mode {
    cursor: crosshair !important;
}
canvas.polygon-mode {
    cursor: crosshair !important;
}

.color {
    display: inline-block;
    width: 35px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}
.color.blue {
    background-color: #0080ff;
}
.color.red {
    background-color: #ff8080;
}
.color.selected {
    border: 3px dashed lawngreen;
}
#text-color-div, #shape-color-div, #line-color-div {
    flex-wrap: wrap;
}
#line-color-div span {
    margin-left: 5px;
}
#shape-color-div span {
    margin-left: 5px;
}
#text-color-div span {
    margin-left: 5px;
}

.new-slide {
    margin-bottom: 3px
}
.new-slide .bi-trash-fill {
    color: red;
}

.slide {
    margin-bottom: 3px
}
.slide .bi-trash-fill {
    color: red;
}

#sp-grid {
    display: grid;
    grid-template-columns: repeat(5, 40px);
    grid-template-rows: repeat(5, 40px);
    column-gap: 5px;
    row-gap: 5px;
}

.sp-toggle {
    background: rgba(127, 127, 127, 0.5);
    border-radius: 2px;
    cursor: pointer;
}

.sp-toggle.selected {
    background: rgba(0, 255, 0, 0.5);
}

label a {
    margin-left: 3px;
    padding-left: 3px;
}

.sp-toggle.unavailable {
    background: repeating-linear-gradient(
            -45deg,
            transparent,
            transparent 5px,
            rgba(127, 127, 127, 0.5) 5px,
            rgba(127, 127, 127, 0.5) 10px
    );
    user-input: none;
    cursor: default;
}

.navbar-brand {
    font-size: 1.75rem!important;
}

.navbar {
    font-size: 1.5rem!important;
}

.navbar-brand img {
    width: 40px !important;
    height: 40px !important;
}

button .countdown, button .spinner {
    display: none;
}

button.loading .countdown, button.loading .spinner {
    display: initial;
}

.context-menu-list .context-menu-disabled {
    background-color: rgb(54, 54, 54);
    color: lightgray;
}

.context-menu-list, .context-menu-list * {
    background-color: inherit;
    color: inherit;
    border: none;
}

.context-menu-submenu::after {
    border-color: transparent transparent transparent #fff;
}

.context-menu-item.context-menu-hover {
    background-color: gray;
}

.context-menu-submenu .context-menu-list {
    background-color: rgb(34, 34, 34);
}

.context-menu-submenu .context-menu-item.context-menu-hover {
    background-color: gray;
}

.session-panel {
    padding: 10px;
    border-radius: 5px;
}

.session-panel h4 {
    margin: 0;
}

#viewer-panel {
    background-color: rgba(0, 50, 255, 0.15);
    border: 2px dashed rgba(0, 50, 255, 0.75);
}

#editor-panel {
    background-color: rgba(0, 255, 50, 0.15);
    border: 2px dashed rgba(0, 255, 50, 0.75);
}

#warning-panel {
    background-color: rgba(255, 255, 50, 0.15);
    border: 2px dashed rgba(255, 255, 50, 0.75);
}

@font-face {
    font-family: 'password';
    font-style: normal;
    font-weight: 400;
    src: url(https://jsbin-user-assets.s3.amazonaws.com/rafaelcastrocouto/password.ttf);
}

.fake-password {
    font-family: 'password', serif;
}

.menu-x {
    visibility: hidden;
    z-index: -100;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    background-color: rgb(34, 34, 34);
}

.menu-li {
    box-sizing: border-box;
    padding: 4px 8px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

.menu-li.submenu {
    cursor: default;
}

.menu-li:hover {
    background-color: black;
}

.menu-li:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.menu-li:last-child {
    border-bottom: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

@media only screen and (max-width: 768px) {
    #canvas-container {
        height: 450px;
    }
}
@media only screen and (min-width: 769px) {
    #canvas-container {
        height: 800px;
    }
}

table.dataTable tbody td {
    vertical-align: middle;
}

.badge.S, .badge.S.L, .badge.S.E {
    background-color: #00bc8c!important;
    color: black!important
}

.badge.L {
    background-color: #0d6efd!important;
    color: white!important
}

.badge.E {
    background-color: rgb(108, 117, 125)!important;
    color: white!important
}

.badge.P {
    background-color: rgb(108, 150, 125)!important;
    color: white!important
}

.badge.F {
    background-color: rgb(255, 193, 7)!important;
    color: black!important
}

.badge.O {
    background-color: orangered!important;
    color: black!important
}

.player-count.O {
    display: none
}

.map-icon {
    border-radius: 20px;
    width: 40px;
    height: 40px;
    position: relative;
    top: -12px;
    margin-right: 8px;
    border: 1px solid transparent;
    filter: contrast(1.15);
}
.map-icon.night {
    filter: contrast(1.15) brightness(40%);
}

.name-filter {
    padding: 10px;
    border-radius: 10px;
    border: 2px dashed transparent;
    cursor: pointer;
}

.name-filter:hover {
    background-color: rgba(127,127,127,0.25);
}
.name-filter.selected {
    border: 2px dashed cornflowerblue;
}

.quick-join {
    font-weight: bold;
    border: none;
    color: white;
    text-shadow: 1px 1px 6px black;
    height: 120px;
    width: 300px;
    background-size: cover;
}
.quick-join::before {
    content:"";
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    z-index:-1;
    filter: grayscale(50%);
    background-size: cover;
    border-radius: 6px;
}

.quick-join:hover {
    filter: grayscale(0%) contrast(125%) brightness(115%);
}

.quick-join[disabled] {
    filter: grayscale(100%) blur(1px);
}

#join-seeding {
    border: 1px solid greenyellow;
    color: greenyellow;
}
#join-seeding::before {
    background-image: url("./seeding.webp");
}

#join-populated {
    border: 1px solid deepskyblue;
    color: deepskyblue;
}
#join-populated::before {
    background-image: url("./populated.webp");
}
#join-any {
    border: 1px solid magenta;
    color: magenta;
}
#join-any::before {
    background-image: url("./any.png");
}

.fav {
    cursor: pointer;
    color: grey;
}
.fav.selected {
    color: yellow
}

.vip {
    cursor: pointer;
    color: grey;
}
.vip.selected {
    color: greenyellow;
}

.unknown_map {
    color: orangered;
}

.separator {
    margin: 0 8px
}

.modal-title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.crossplay.disabled {
    color: rgb(220,120,120);
}

#additional-info li {
    margin-bottom: 2px;
}

#additional-info .property {
    display: inline-block;
    min-width: 110px;
}

#additional-info .value {
    display: inline-block;
}

.mr-4 {
    margin-right: 4px;
}

.steam-name-search {
    margin-left: 4px;
    font-size: 0.75rem;
    color:darkslategray!important;
}

.bit-table {
    text-align: center;
}
.bit-table td {
    padding: 0 5px;
}
.wrong-version {
    color: orange;
}
.wrong-gameid {
    color: orangered;
}

.dt-center {
    text-align: center !important;
}

.dt-left {
    text-align: left !important;
}

.dt-container .row > * {
    padding: 0;
}
